<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!-- 
CREATED BY	:SANJEEVI S  
CREATED ON	:10-MAY-2024
PURPOSE		: DEVLOPMENT PROCESS
 -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>



<style>

body {
	background-color: white;
}

.h2, h2 {
	font-size: 2rem;
	background-color: #555;
	color: white;
}

.tag-btn {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	z-index: 5;
	position: relative;
	padding: 10px;
	margin: 0;
	line-height: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: #F08080;
	border: none;
	color: #fff;
	box-shadow: none;
}

.pagebut {
	margin-top: 1%;
	/*  width: 58%;  */
	padding: 1% 1%;
	background-color: #2e455d;
	color: white;
}

select {
	width: 150px;
	margin: 10px;
}

td {
	background-color: #f8f7ff;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}


table.table .thead-light th {
	font-size: 13px;
	border-color: #d4d7da;
}

select:focus {
	min-width: 150px;
	width: auto;
}

#hidden_div {
	display: none;
}

table th {
	color: white;
	background-color: white;
	font-size: medium;
}

table td {
	font-size: medium;
}

.underline {
	text-decoration: underline;
	color: #08a6f1;
	cursor: pointer;
}

.imageround {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: red;
  
}
.container-manager {
	width: 82.5%;
	padding-right: 43px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 18.3%;
	margin-top: 80px;
}

/* input[type="text"] {
	line-height: 15px;
	font-size: x-small;
	height: 25px;
}
 */
.dataTables_empty {
	color: #be3232;
}

.dataTables_wrapper .dataTables_filter{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}


.dataTables_filter input {
  color: black;
  background-color: white;
}

.menu-title-header {
	padding: 0.45rem 0.45rem;
	background: #377486;
	color: #fff;
	font-family: "Nunito", calibry;
}

.modal-title {
	text-align: center;
	font-size: 14px;
	font-weight: 900;
	color: #332d2d;
	font-family: calibry
}

#overlay {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	/* width: 40px;
	height: 40px;
	border: 4px #00343d solid;
	border-top: 4px #181818 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear; */
	
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

@
keyframes sp-anime { 100% {
	transform: rotate(360deg);
}
}
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
} */
</style>
<style type="text/css">
#ticker-container {
  width: 100%;
  overflow: hidden;
  background-color:  #708090; /* Adjust the color code to the shade of gray you prefer */
  margin-bottom: 10px;
    margin-top: -10px;
}

#ticker {
  white-space: nowrap;
  animation: ticker-scroll 30s linear infinite; /* Adjust speed as needed */
  color: white; /* Set text color to white */
  padding-top : 10px;
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
</style>
<style>
/* Adjust width of country code dropdown */
#country-list {
	min-width: 60px; /* Adjust as needed */
}

/* Ensure input field takes remaining space */
.input-group-prepend {
	width: auto;
}

/* Adjust alignment of input field */
.input-group .form-control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

</style>
<style type="text/css">
<style>
.tablinks {
	background-color: #E77400; /*#e0a061  */
	color: #000;
	border-radius: 2px;
}

/* Highlighted tab style */
.tablinks.active {
	background-color: #007bff;
	/* Change this to your desired highlight color */
	color: #fff;
	border-radius: 2px;
	/* Change this to the text color for highlighted tabs */
}

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: orange;
}

.btns {
	float: right;
	margin: 5px;
}

.col-sm-5 {
	padding-bottom: 15px;
}

.list-body {
	padding: 0px;
}

.error {
	color: red;
	padding-left: 10px;
}

.formline {
	padding-bottom: 15px;
}

.btn-primary {
	background-color: dodgerblue;
	border-color: #0c0c0c;
}

#finusertb {
	width: 460px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.scrollable-table-container {
	max-height: 400px; /* Adjust the height as needed */
	overflow-y: auto;
	overflow-x: auto;
}

.table th, .table td {
	white-space: nowrap; /* Prevent text from wrapping */
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.status-verified {
	color: green;
}

.status-unverified {
	color: red;
}
</style>



<script>


$(document).ready(function() {
	$('#masterdata').DataTable({

		"destroy" : true,
		"scrollY" : 500,
		"scrollCollapse" : true,
		"paging" : true,
		"autoWidth" : false,
		"ordering" : true,
		"searching" : false,
		"scrollX" : true,
		"pageLength" : 500,
		"lengthChange" : false,

	});
});
</script>



<script th:inline="javascript">
function editRecord(a) {
	alert("hi")
	var url = 'mappingedit'

	$("#dataedit").attr('action', url);
	alert("hi")
	//Assign selected values to the model box fields
	$ ("#cust_id").val(a.getAttribute("data-cust_id"));
	$("#foracid").val(a.getAttribute("data-foracid"));
    $("#acct_name").val(a.getAttribute("data-acct_name"));
    $("#report_name_1").val(a.getAttribute("data-report_name_1"));
    $("#report_label_1").val(a.getAttribute("data-report_label_1"));
 //   $("#sch_type").val(a.getAttribute("data-sch_type"));
    $("#schm_code").val(a.getAttribute("data-schm_code"));
    $("#gl_sub_head_code").val(a.getAttribute("data-gl_sub_head_code"));
   // $("#mis_code").val(a.getAttribute("data-mis_code"));
   // $("#gl_sub_head_code").val(a.getAttribute("data-gl_sub_head_code"));
    $("#report_addl_criteria_1").val(a.getAttribute("data-report_addl_criteria_1"));
  //  $("#report_addl_criteria_2").val(a.getAttribute("data-report_addl_criteria_2"));
   // $("#report_addl_criteria_3").val(a.getAttribute("data-report_addl_criteria_3"));

	$("#addedit").modal("toggle");
	//Make readonly fields
	$("#foracid").attr("readonly", true);
	$("#schm_code").attr("readonly", true);
	$("#gl_sub_head_code").attr("readonly", true);
  	
	}
</script>
<script th:inline="javascript">
	var select_Report = '';
 
	function report() {
		var select = document.getElementById('report_code').value;
 
		select_Report = select;
		alert(this.select_Report);
		location.href = './ReportCodeMapping?report_code=' + select;
 
		document.getElementById('refcodeviewdesc').value = select;
 
	}
	function report1() {
		var select = document.getElementById('report_code').value;
 
		// Set the new URL without refreshing the page
		location.href = './ReportCodeMapping?formmode=product_mapping&report_code='
				+ select;
 
		// document.getElementById('report_desc').value = select;
 
	}
 
	function product() {
		var brf = document.getElementById('row_101').value;
		var select = document.getElementById('report_code').value;
		alert(brf);
		
		 /*<![CDATA[*/
	    var productmapping = /*[[${refCodeTypeList2}]]*/;
		 console.log(productmapping);
		 var reportproductmap = productmapping.filter(data=>data.row_101 == brf)[0].report_code;
		 console.log(reportproductmap);
		 alert(reportproductmap);
	    /*]]>*/
	    
		$
				.ajax({
					type : 'GET',
					url : './ReportCodeMapping?formmode=product_mapping&row_101='
							+ brf+'&reportproductmap=' + reportproductmap +'&report_code=' + select ,
					success : function(data) {
						var $response = $(data);
 
						// Find the specific element in the response
						var $placelist = $response.find('.repCodes');
 
						if ($placelist.length) {
							// Update the #placelist element with the content of .repCodes
							$('#placelist').replaceWith($placelist);
						} else {
							console
									.error(".repCodes element not found in the response.");
						}
					}
				});
 
	}
	function fnedit() {
	    alert('hi');
	}	function reportlist() {
		var select = document.getElementById('report_code').value;
		console.log(" select_Report ", select_Report);
		location.href = 'ReportCodeMapping?formmode=listone&report_code='
				+ select;
 
	}
	function Mapped_Accounts() {
		var select = document.getElementById('report_code').value;
		this.formmode = 'Mapped_Accounts';
		location.href = 'ReportCodeMapping?formmode=Mapped_Accounts&report_code='
				+ select;
 
	}
	function UnMapped_Accounts() {
		var select = document.getElementById('report_code').value;
		console.log(" select_Report ", select_Report);
		location.href = 'ReportCodeMapping?formmode=UnMapped_Accounts&report_code='
				+ select;
 
	}
	function mapping() {
		var select = document.getElementById('report_code').value;
		console.log(" select_Report ", select_Report);
		submit(select);
	}
	function submit(select) {
		console.log(" select_Report ", select_Report);
		location.href = 'ReportCodeMapping?formmode=Mappinglist' + '&foracid='
				+ select + '&report_code=' + select;
	}
	
	function goBackAndReload() {	
		window.history.back();
		}

	function product_mapping() {
		var select = document.getElementById('report_code').value;
		location.href = 'ReportCodeMapping?formmode=product_mapping&report_code='
				+ select;
	}
	function list() {
	    /*<![CDATA[*/
	    var user = /*[[${refCodeTypeList2}]]*/;
	    /*]]>*/

	    console.log(user);

	    // var select1 = document.getElementById('r_code').value;
	    console.log(document.getElementById('row_101').getAttribute('data_row_product'));
	    var select = document.getElementById('report_code').value;
	    
	   // var account_id_2 = document.getElementById('foracid2').value;'

	    console.log(select1);

	    // Assuming "data-report-category" is an attribute of the element with the ID 'row_101'
	var reportCategory = document.getElementById('row_101').getAttribute('data-row-product');
var reportCategory2 = document.getElementById('row_101').getAttribute('data-report-category');
console.log(reportCategory);
console.log(reportCategory2);

var schemeCode = document.getElementById('schm_code1_from').value;
var location_setup = '';

if(schemeCode == ''){
	schemeCode = null;
}else{
	location_setup = location_setup+'&scheme_code=' + schemeCode;
}

var gl_sub_head_code = document.getElementById('gl_sub_head_code1_from').value;

if(gl_sub_head_code == ''){
	gl_sub_head_code = null;
}else{
	location_setup = location_setup+'&gl_sub_head_code=' + gl_sub_head_code;
}

var report_product_label = localStorage.getItem('mapping_report_label');
var schm_type1 = document.getElementById('schm_type1_from').value;
/* if(schm_type1){
	schm_type1 = null;
}else{
	location = location+'&schm_type=' + schm_type1;
} */
var gl_code1 = document.getElementById('gl_code1_from').value;

	  if(gl_code1 == ''){
		  gl_code1 = null;
	  }else{
		  location_setup = location_setup+'&gl_code=' + gl_code1
	  }
	  
	  var select1 = document.getElementById('cust_id1_from').value;
	  if(select1 == ''){
		  select1 = null;
	  }else{
		  location_setup = location_setup+'&cust_id=' + select1
	  }
	  
	    var account_id = document.getElementById('foracid1').value;	  
	  
	  console.log(location_setup);
	  location.href = ''+'ReportCodeMapping?formmode=listMap&report_code=' + select  +location_setup
			  + '&foracid=' + account_id 
			  +'&reportlabel='+report_product_label ;
	  
	  
	  localStorage.setItem('mapping_report_label','');
	    console.log(document.getElementById('selectedValue'));
	    console.log(document.getElementById('reportCategory'));
	}

</script>


<script>
function showpopup(a) {

   

    $('#myModal').modal('show');
}
function home() {
	location.href = 'Dashboard'
}

function back() {
	window.history.back();
}

</script>

<script>
function submitdataform(a) {
	  alert("hi");
	  var reportcode = document.getElementById('report_code').value;
	  alert(reportcode);
	  var foracid = document.getElementById('foracid').value;
	  alert(foracid);

	  $.ajax({
	    url: './mappingedit?&foracid=' + foracid+'&reportcode='+reportcode,
	    data: $("#dataedit").serialize(),
	    type: 'GET',
	    success: function (data) {
	      setTimeout(function () {
	        alert("Updated successfully");
	        location.href = location.href;
	      }, 10000); // 10000 milliseconds = 10 seconds
	    }
	  });
	}

</script>

<script th:inline="javascript">
	$(document)
			.ready(
					function() {
 
						// Filter the table rows based on user input
						$("#filterinput")
								.on(
										"input",
										function() {
											var filterValue = $(this).val()
													.toLowerCase();
											console.log($("#arunfilter tr"))
 
											var temp = $("#arunfilter tr")
 
													.filter(
															function() {
																$(this)
																		.toggle(
																				$(
																						this)
																						.text()
																						.toLowerCase()
																						.indexOf(
																								filterValue) > -1);
															});
 
										});
					});
	
	function gl_sub_head_code_change(index){
		  /*<![CDATA[*/
	    var detailtable6 = /*[[${detailtable6}]]*/;
	    /*]]>*/
		if(index != detailtable6.length){
			document.getElementById("gl_sub_head_code1_to").value = detailtable6[index+1]
		}else{
			document.getElementById("gl_sub_head_code1_to").value = detailtable6[index]
		}
		
	}
	
	function callFunction(){
		/*<![CDATA[*/
	    var reportDes = /*[[${reportDes}]]*/;
	    /*]]>*/
	    
	   console.log(' reportDes ',reportDes);
	    
	}
	
</script>
<script>
	
	function myfunction(selectedValue, reportCategory, dataRowProduct) {
	    // The selectedValue is passed as a parameter
	    // The reportCategory and dataRowProduct are obtained from the selected option
localStorage.setItem('mapping_report_label',dataRowProduct);
	    console.log(' Map',localStorage.getItem('mapping_report_label'));
	    document.getElementById('selectedValue').textContent = selectedValue;
		document.getElementById('reportCategory').textContent = reportCategory;
	    console.log("Selected Value: " + selectedValue);
	    console.log("Report Category: " + reportCategory);
	    console.log("Data Row Product: " + dataRowProduct);
	    
	   
	}
	
	function schm_type_change(){
	
		console.log(' !@#$%^&*() ');
		
		var schm_type = document.getElementById('schm_type1_from').value;
		document.getElementById('schm_type1_to').value = schm_type;
		console.log(' schm_type ',schm_type);
	}
	function schm_code_change(){
		var schm_code = document.getElementById('schm_code1_from').value;
		document.getElementById('schm_code1_to').value = schm_code;
		console.log(' schm_code',schm_code);
	}
	function gl_code_change(){
		var gl_code = document.getElementById('gl_code1_from').value;
		document.getElementById('gl_code1_to').value = gl_code;
		console.log(' schm_code',gl_code);
	}
	
</script>
<script>
window.onload = function() {
console.log(' &&&&@@@@##### ');	
}

	    function submitlist() {
	    	var select = document.getElementById('report_code').value;
	    	alert(select);
	    	//var name=document.getElementById("row_101_list").value;
	    	//alert(name);
	    	
	    	 var url = window.location.search;
	    	    var params = new URLSearchParams(url);
	    	    var id = params.get("reportlabel");
	    	    function getCellValueForSelectedCheckbox(checkbox) {
	    	    	  if (checkbox.checked) {
	    	    	    // Find the closest <tr> element (table row) containing the clicked checkbox
	    	    	    const row = checkbox.closest('tr');

	    	    	    // Access a specific cell within the row (e.g., the second cell)
	    	    	    const specificCellValue = row.cells[2].textContent; // Change the index to access the desired cell

	    	    	    // You can use cellValue as needed, for example, displaying it in the console
	    	    	   alert( specificCellValue);
	    	    	    
	    	    	   $.ajax({

	   	    			type : 'GET',
	   	    			url : './mappingapi?id=' + id  + "&name=" + name + "&specificCellValue=" +specificCellValue + "&select=" +select ,
	   	    			success : function(data) {
	   	     
	   	    				alert(data);
	   	    				location.reload();
	   	     
	   	    			}
	   	     
	   	    		});
	    	    	  }
	    	    	}

	    	    	// Get all checkboxes with the "checkbox" class
	    	    	const checkboxes = document.querySelectorAll('.checkbox');

	    	    	// Call the function for each checkbox (you can call it when needed)
	    	    	checkboxes.forEach(checkbox => {
	    	    	  getCellValueForSelectedCheckbox(checkbox);
	    	    	  
	    	    	  
	    	    	}); 
 }
</script>
<script>


function pdfCustomerdown() {
	var filetype = a.getAttribute("data-filetype");
	alert(filetype);
	  $('#downloadProcessingModal').modal('show');
	var report_name_1 = document.getElementById('report_code').value;
	alert(report_name_1);
	$.ajax({
		url : './Reports/mappingDownload?&report_name_1=' + report_name_1
				+ '&filetype=' + encodeURIComponent(filetype),
		type : 'GET',
		success : function() {
			
			 $('#downloadProcessingModal').modal('hide');
		      // Show a success message (you can customize this part)
		      alert("Download successful");
			
		}
	});
}

function xcelCustomerdown() {
	  var filetype = "excel";
	  var report_name_1 = document.getElementById('report_code').value;

	  // Show the download processing modal
	  $('#downloadProcessingModal').modal('show');

	  $.ajax({
	    url: './Reports/mappingDownload?&report_name_1=' + report_name_1 + '&filetype=' + encodeURIComponent(filetype),
	    type: 'GET',
	    success: function () {
	      // Hide the download processing modal upon successful download
	      $('#downloadProcessingModal').modal('hide');
	      // Show a success message (you can customize this part)
	      alert("Download successful");
	    },
	    error: function () {
	      // Handle errors if needed
	      // Hide the download processing modal upon error
	      $('#downloadProcessingModal').modal('hide');
	      alert("Download failed");
	    }
	  });
	}

</script>
<script>
document.getElementById("tab1").style.display = "block";
function openTab(evt, tabName) {
	var i, tabcontent, tablinks;
	tabcontent = document.getElementsByClassName("tabcontent");
	for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	}
	tablinks = document.getElementsByClassName("tablinks");
	for (i = 0; i < tablinks.length; i++) {
		tablinks[i].classList.remove("active");
	}
	document.getElementById(tabName).style.display = "block";
	evt.target.classList.add("active"); // Changed evt.currentTarget to evt.target
}


</script>

<script>
 function SubPortfolioCode()
 {	
	 $.ajax({
			type: 'GET',
			url: './SubPortfolioCode',
			success: function (data) {
				console.log(data);
				if(data.length > 0){
					console.log("Inside");
					var trHTML = '';
					$.each(data, function (key, entity) {
						trHTML += 
							'<tr class="fs-6">'
							+'<td onclick="showpopup(this);" >'+'<i class="fa fa-edit" style="font-size: 15px; color: blue"></i>'+'</td>'
							+ '<td>' + entity.portfolio_code + '</td>'
							+ '<td>' + entity.sub_portfolio_code + '</td>'
							+ '<td>' + entity.rating_type + '</td>'
							+'<td onclick="showpopup(this);" >'+'<i class="fa fa-trash" style="font-size: 15px; color:red;"></i>'+'</td>'
							+ '</tr>';
					});
					$('#bodyoftab2').empty().append(trHTML);
				}
			},
			error: function () {
				$('#errorMessage').text('Error fetching data');
				$('#errorModal').modal('show');
			}
		});
 }
 
 
 function countrycode() {
       $.ajax({
	        type: 'GET',
	        url: './countrycode', // Make sure this URL matches your controller mapping
	        success: function (data) {
	            console.log("the dataaaa", data);
	            if ( data.length > 0) {
	                var trHTML = '';
	                $.each(data, function (key, entity) {
	                    trHTML +=
	                        '<tr class="fs-6">' +
	                        '<td onclick="showpopup(this);"><i class="fa fa-edit" style="font-size: 15px; color: blue"></i></td>' +
	                        '<td>' + entity.country_code + '</td>' +
	                        '<td>' + entity.country_code_desc + '</td>' +
	                        '<td onclick="showpopup(this);"><i class="fa fa-trash" style="font-size: 15px; color:red;"></i></td>' +
	                        '</tr>';
	                });
	                $('#bodyoftab3').empty().append(trHTML);
	            } else {
	                console.log("No data received.");
	            }
	        },
	        error: function (xhr, status, error) {
	            console.error("Error fetching data:", error);
	            alert("Error fetching data");
	        }
	    });
	}
 
 function glcodedesc()
 {
		$.ajax({
				type: 'GET',
				url: './glcodedesc',
				success: function (data) {
					console.log(data);
					if(data.length > 0){
						console.log("Inside");
						var trHTML = '';
						$.each(data, function (key, entity) {
							trHTML += 
								'<tr class="fs-6">'
								+'<td onclick="showpopup(this);" >'+'<i class="fa fa-edit" style="font-size: 15px; color: blue"></i>'+'</td>'
								+ '<td>' + entity.gl_code + '</td>'
								+ '<td>' + entity.glcode_desc + '</td>'
								+ '<td>' + entity.ifrs_product_mapping + '</td>'
								+'<td>' + entity.payment_frequency + '</td>'
								+'<td onclick="showpopup(this);" >'+'<i class="fa fa-trash" style="font-size: 15px; color:red;"></i>'+'</td>'
								+ '</tr>';
						});
						$('#bodyoftab4').empty().append(trHTML);
					}
				},
				error: function () {
					$('#errorMessage').text('Error fetching data');
					$('#errorModal').modal('show');
				}
			});
}

 function paymentfrquncy()
 {
		$.ajax({
				type: 'GET',
				url: './paymentfrquncy',
				success: function (data) {
					console.log(data);
					if(data.length > 0){
						console.log("Inside");
						var trHTML = '';
						$.each(data, function (key, entity) {
							trHTML += 
								'<tr class="fs-6">'
								+'<td onclick="showpopup(this);" >'+'<i class="fa fa-edit" style="font-size: 15px; color: blue"></i>'+'</td>'
								+ '<td>' + entity.code + '</td>'
								+ '<td>' + entity.type + '</td>'
							    +'<td onclick="showpopup(this);" >'+'<i class="fa fa-trash" style="font-size: 15px; color:red;"></i>'+'</td>'
								+ '</tr>';
						});
						$('#bodyoftab5').empty().append(trHTML);
					}
				},
				error: function () {
					$('#errorMessage').text('Error fetching data');
					$('#errorModal').modal('show');
				}
			});
	 
	 
 }
 
 function infoflg()
 {	$.ajax({
				type: 'GET',
				url: './infoflg',
				success: function (data) {
					console.log(data);
					if(data.length > 0){
						console.log("Inside");
						var trHTML = '';
						$.each(data, function (key, entity) {
							trHTML += 
								'<tr class="fs-6">'
								+'<td onclick="showpopup(this);" >'+'<i class="fa fa-edit" style="font-size: 15px; color: blue"></i>'+'</td>'
								+ '<td>' + entity.code + '</td>'
								+ '<td>' + entity.type + '</td>'
							    +'<td onclick="showpopup(this);" >'+'<i class="fa fa-trash" style="font-size: 15px; color:red;"></i>'+'</td>'
								+ '</tr>';
						});
						$('#bodyoftab6').empty().append(trHTML);
					}
				},
				error: function () {
					$('#errorMessage').text('Error fetching data');
					$('#errorModal').modal('show');
				}
			});
}
 
 function schemecode()
 {
		$.ajax({
				type: 'GET',
				url: './schemecode',
				success: function (data) {
					console.log(data);
					if(data.length > 0){
						console.log("Inside");
						var trHTML = '';
						$.each(data, function (key, entity) {
							trHTML += 
								'<tr class="fs-6">'
								+'<td onclick="showpopup(this);" >'+'<i class="fa fa-edit" style="font-size: 15px; color: blue"></i>'+'</td>'
								+ '<td>' + entity.scheme_code + '</td>'
								+ '<td>' + entity.scheme_code_des + '</td>'
								+ '<td>' + entity.portfolio + '</td>'
							    +'<td onclick="showpopup(this);" >'+'<i class="fa fa-trash" style="font-size: 15px; color:red;"></i>'+'</td>'
								+ '</tr>';
						});
						$('#bodyoftab7').empty().append(trHTML);
					}
				},
				error: function () {
					$('#errorMessage').text('Error fetching data');
					$('#errorModal').modal('show');
					alert("no data ");
				}
			});
}
 </script>

</head>
<title>XBRL</title>


<body>
	<div th:insert="XBRLHeaderMenu :: header"></div>
	<i class="fa fa-question-circle" aria-hidden="true" onclick="docEmb('UserProfile')" id="ques"></i>

	<div class="container-manager">
		<div id="overlay">
			<div class="cv-spinner">
				<span class="spinner"></span>
			</div>
		</div>

		<div th:if="${formmode}=='list'">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header" style="background-color: #3e6369b5;">
							<div class="float-left">
							<h6 style="color: white; font-weight: bold; font-family: Verdana;">ACC MASTER WORKING</h6>


						</div>
						</div>
						<table class="table table-bordered table-hover table-condensed table-sm" id="masterdata">
							<thead class="thead-light text-center">
									<tr>
										<th onclick="showpopup(this);"
											style="cursor: pointer; text-align: center;"><i
											class="fa fa-plus" style="font-size: 15px; color: blue;"></i></th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">FACILITY ID</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">CUSTOMER ID </th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">PRODUCT ID</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">STAGE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">STAGE REASON</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">OPENDATE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">FIRST INSTALLMENT DATE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">PASTDUEDAYS</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">LGD RATE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">UNDRAWN AMOUNT</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">DRAWN AMOUNT</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">CCF</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">EAD</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">IMPAIRMENT AMOUNT</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">MATURITYDATE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">EIR</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">INTEREST ACCRUED</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">PAYMENT FREQUENCY</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">PAYMENT TYPE ID</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">DATAI MPORT ID</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">MODIFICATION FLAG/th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">WRITTENOFF FLAG</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">WRITTENOFF VALUE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">INFO FLAG</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">CURRENCY</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">MODIFICATION VALUE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">RECORD INPUT DATE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">BASE PD</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">POSITIVE PD</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">NEGATIVE PD</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">DATAIMPORTENTITY ID</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">ROWID</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">NOMINAL INTEREST RATE </th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">CUSTOMER MASTER INPUTS</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">IFRS-9 RATING</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">INTERNAL RATING</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">RATING FOR PD</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">IFRS-PORTFOLIOCODE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">PORTFOLIOCODE WORKING 1</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">PORTFOLIOCODE WORKING 2</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">PORTFOLIOCODE WORKING 3</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">IFRS- SUBPORTFOLIOCODE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">ASSET CAT</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">ASSET CAT DESCRIPTION</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">SCHEMECODE</th>
										<th style="text-align: center; font-style: verdana;font-size: medium;font-weight: bold;">REPORTDATE</th>
										
										<th></th>
									</tr>

								</thead>
								<!-- <tbody th:each="accmasterworking : ${getaccmasterworking}" class="repCodes"
									id="placelist"> -->
									<tbody id="placelist" class="bg-white">
								<tr th:each="accmasterworking : ${getaccmasterworking}" style="cursor: pointer;">
									<td onclick="showpopup(this);" id="edit"><i
										class="fa fa-edit" style="font-size: 15px; color: blue"></i></td>
									
									
									<td th:text="${accmasterworking.facility_id}" style="text-align: center;"></td>
									<td th:text="${accmasterworking.customer_id}"></td>
									<td th:text="${accmasterworking.product_id}"></td>
									<td th:text="${accmasterworking.stage}"></td>
									<td th:text="${accmasterworking.stage_reason}"></td>
									<td th:text="${accmasterworking.open_date}"></td>
									<td th:text="${accmasterworking.first_installment_date}"></td>
									<td th:text="${accmasterworking.pastdue_days}"></td>
									<td th:text="${accmasterworking.lgd_rate}"></td>
									<td th:text="${accmasterworking.undrawn_amount}"></td>
									<td th:text="${accmasterworking.drawn_amount}"></td>
									<td th:text="${accmasterworking.drawn_amount}"></td>
									<td th:text="${accmasterworking.ccf}"></td>
									<td th:text="${accmasterworking.ead}"></td>
									<td th:text="${accmasterworking.impairment_amount}"></td>
									<td th:text="${accmasterworking.maturity_date}"></td>
									<td th:text="${accmasterworking.eir}"></td>
									<td th:text="${accmasterworking.interest_accrued}"></td>
									<td th:text="${accmasterworking.payment_frequency}"></td>
									<td th:text="${accmasterworking.payment_type_id}"></td>
									<td th:text="${accmasterworking.data_import_id}"></td>
									<td th:text="${accmasterworking.modification_flag}"></td>
									<td th:text="${accmasterworking.written_off_flag}"></td>
									<td th:text="${accmasterworking.written_off_value}"></td>
									<td th:text="${accmasterworking.info_flag}"></td>
									<td th:text="${accmasterworking.currency}"></td>
									<td th:text="${accmasterworking.modification_value}"></td>
									<td th:text="${accmasterworking.record_input_date}"></td>
									<td th:text="${accmasterworking.base_pd}"></td>
									<td th:text="${accmasterworking.positive_pd}"></td>
									<td th:text="${accmasterworking.dataimportentity_id}"></td>
									<td th:text="${accmasterworking.row_id}"></td>
									<td th:text="${accmasterworking.nominalinterest_rate}"></td>
									<td th:text="${accmasterworking.customer_master_inputs}"></td>
									<td th:text="${accmasterworking.ifrs_rating}"></td>
									<td th:text="${accmasterworking.internal_rating}"></td>
									<td th:text="${accmasterworking.rating_for_pd}"></td>
									<td th:text="${accmasterworking.ifrs_portfolio_code}"></td>
									<td th:text="${accmasterworking.portfolio_code_working_1}"></td>
									<td th:text="${accmasterworking.portfolio_code_working_2}"></td>
									<td th:text="${accmasterworking.portfolio_code_working_3}"></td>
									<td th:text="${accmasterworking.ifrs_subportfolio_code}"></td>
									<td th:text="${accmasterworking.asset_cat}"></td>
									<td th:text="${accmasterworking.asset_cat_description}"></td>
									<td th:text="${accmasterworking.scheme_code}"></td>
									<td th:text="${#dates.format(accmasterworking.report_date, 'dd-MM-yyyy')}" style="text-align: right;"></td>
						
									<td onclick="showpopup(this);" id="delete"><i
										class="fa fa-trash" style="font-size: 15px; color: red"></i></td>
								</tbody>
								
								
							</table>
						</div>

						<div class="card-footer text-center"
							style="background-color: #386276">
							<button type="button" class="btn btn-xs btn-primary"
								onclick="home();">Home</button>
							<button type="button" class="btn btn-xs btn-primary"
								onclick="back();">Back</button>
						</div>
	                 </div>

				</div>
			</div>

		</div>
	</div>

	</div>

	<!-- -----------------------------------Details edit modal form----------------------------------------------------->
	<!-- -----------------------------------Details edit modal form----------------------------------------------------->
	<div class="modal fade" id="addedit" th:fragment="dataedit">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Records</h4>
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<div class="modal-body" style="text-align: center">
					<form th:object=${singledetail} id="dataedit" method="post">
						<div class="form-group">
							<div class="row">
								<label class="col-sm-5">Customer Id </label> <input
									class="form-control col-sm-5" type="text" id="cust_id"
									name="cust_id" required />
							</div>

							<div class="row">
								<label class="col-sm-5">Account No </label> <input
									class="form-control col-sm-5" type="text" id="foracid" required />
							</div>

							<div class="row">
								<label class="col-sm-5">Name of Account </label> <input
									class="form-control col-sm-5" type="text" id="acct_name"
									name="acct_name" />
							</div>

							<div class="row">
								<label class="col-sm-5">Report Code </label> <input
									class="form-control col-sm-5" type="text" id="report_name_1"
									name="report_name_1" />
							</div>

							<div class="row">
								<label class="col-sm-5">Report Label </label> <input
									class="form-control col-sm-5" type="text" id="report_label_1"
									name="report_label_1" required />
							</div>

							<!-- <div class="row">
								<label class="col-sm-5">Scheme Type </label> <input
									class="form-control col-sm-5" type="text" id="sch_type"
									name="gl_sub_head_code" required />
							</div> -->

							<div class="row">
								<label class="col-sm-5">Scheme Code </label> <input
									class="form-control col-sm-5" type="text" id="schm_code"
									name="schm_code" />
							</div>

							<div class="row">
								<label class="col-sm-5">GLSH Code </label> <input
									class="form-control col-sm-5" type="text" id="gl_sub_head_code"
									name="gl_sub_head_code" />
							</div>

							<!-- <div class="row">
								<label class="col-sm-5">MIS Code </label> <input
									class="form-control col-sm-5" type="text" name="mis_code"
									id="mis_code" />
							</div> -->

							<div class="row">
								<label class="col-sm-5">Criteria 1 </label> <input
									class="form-control col-sm-5" type="text"
									id="report_addl_criteria_1" name="report_addl_criteria_1" />
							</div>

							<div class="row">
								<label class="col-sm-5">Criteria 2 </label> <input
									class="form-control col-sm-5" type="text"
									id="report_addl_criteria_2" />
							</div>

							<div class="row">
								<label class="col-sm-5">Criteria 3</label> <input
									class="form-control col-sm-5" type="text"
									id="report_addl_criteria_3" />
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"
						onclick="submitdataform(this);">Submit</button>
				</div>
			</div>
		</div>
	</div>


	<!-- ------------model popup--------- -->
	<div class="modal" id="myModal" style="align: center; margin-top: 15%;">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				 <div class="modal-header" style="background-color: orange;">
									<h4 class="modal-title">BANK OF BARODA</h4>
									<button type="button" class="close" data-dismiss="modal">x</button>
			  </div> 

				<!-- Modal body -->
				<div class="modal-body" style="text-align: center;">need to be
					enable</div>

				<!-- Modal footer -->
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- ----loader---- -->
	<div class="modal fade" id="loader1" data-backdrop="static"
			data-keyboard="false">
			<div
				class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content" style="background: transparent;">
					<div class="modal-body" style="text-align: center">
						<div>
							<img th:src=@{/images/loader.gif} id="bfirelogo"
								style="width: 153px; margin-left: 18px; background-color: transparent;" alt="Bornfire">
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>




