<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.9.0/css/all.min.css"
		th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
		th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
		th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
		th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
	<script src="/webjars/jquery/3.4.1/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
		th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

	<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
		th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

	<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
		th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

	<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
		th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
	<script src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
		th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>


	<style>
		.required-field::before {
			content: "*";
			color: red;
			float: right;
			margin-left: 5px;
			/* Adjust the margin as needed */
			font-size: 1.2em;
			/* Adjust the font size as needed */
		}

		.spaceline {
			/* Add your styling rules here */
			margin-bottom: 10px;
			/* Example: Adds 20 pixels of bottom margin */
		}

		label {
			font-size: 16px;
			/* Adjust the font size as needed */
			overflow: hidden;
			/* Hide overflow content if any */
			text-overflow: ellipsis;
			/* Show ellipsis (...) for overflow text */
			display: inline-block;
			/* Ensure the label stays on a single line */
		}
	</style>
	<script th:inline="javascript">
		/*<![CDATA[*/

		function filterfunc() {
			var userdate = document.getElementById("datepickerInput").value;
			alert(userdate);
			$('#placelist').empty();

			$
				.ajax({
					url: './filterrptdate',
					type: 'POST',
					data: {
						report_date: userdate
					},
					success: function (data) {
						var trHTML = '';
						$
							.each(
								data,
								function (key, value) {
									trHTML += '<tr style="white-space: nowrap; overflow: hidden; text-align: center;">'
										+ '<td>'
										+ (value.srlno ? value.srlno : '')
										+ '</td>'
										+ '<td>'
										+ (value.report_date ? formatDate(value.report_date) : '')
										+ '</td>'
										+ '<td>'
										+ (value.unique_file_name ? value.unique_file_name : '')
										+ '</td>'
										+ '<td>'
										+ (value.message_reason_code ? value.message_reason_code : '')
										+ '</td>'
										+ '<td>'
										+ (value.member_message_text ? value.member_message_text : '')
										+ '</td>'
										+ '<td>'
										+ (value.document_indicator ? value.document_indicator : '')
										+ '</td>'
										+ '<td>'
										+ (value.full_partial_indicator ? value.full_partial_indicator : '')
										+ '</td>'
										+ '<td>'
										+ (value.case_number ? value.case_number : '')
										+ '</td>'
										+ '<td>'
										+ (value.original_settlement_date ? value.original_settlement_date : '')
										+ '</td>'
										+ '<td>'
										+ (value.processing_status ? value.processing_status : '')
										+ '</td>'
										+ '<td>'
										+ '<div class="dropdown">'
										+ '<button class="btn btn-xs btn-info btns" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'
										+ 'Action</button>'
										+ '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">'
										+ '<button type="button" class="dropdown-item" id="btnmodify" data-attr="'
										+ (value.srlno ? value.srlno : '')
										+ '" onclick="modifyuser(this);" style="text-align:center;">Modify</button>'
										+ '<div class="dropdown-divider"></div>'
										+ '<button type="button" class="dropdown-item" id="btndelete" data-attr="'
										+ (value.srlno ? value.srlno : '')
										+ '" onclick="deleteuser(this);" style="text-align:center;">Delete</button>'
										+ '<div class="dropdown-divider"></div>'
										+ '<button type="button" class="dropdown-item" id="btnEnquiry" data-attr="'
										+ (value.srlno ? value.srlno : '')
										+ '" onclick="enquiryuser(this);" style="text-align:center;">Enquiry</button>'
										+ '<div class="dropdown-divider"></div>'
										+ '<button type="button" class="dropdown-item" id="btntstcase" data-attr="'
										+ (value.srlno ? value.srlno : '')
										+ '" onclick="testcases(this);" style="text-align:center;">Test Case</button>'
										+ '<div class="dropdown-divider"></div>'
										+ '</div>'
										+ '</div>'
										+ '</td>'
										+ '</tr>';

									function formatDate(date) {
										var formattedDate = new Date(date);
										var dd = String(formattedDate.getDate()).padStart(2, '0');
										var mm = String(formattedDate.getMonth() + 1).padStart(2, '0');
										var yyyy = formattedDate.getFullYear();
										return dd + '-' + mm + '-' + yyyy;
									}
								});

						$('#placelist').html(trHTML);
					},
					error: function (xhr, status, error) {
						console.error(xhr.responseText);
						showResponse("Report Date Not Matched", "Error", xhr, null);
					}
				});
		}

		function showResponse(responseText, statusText, xhr, $form) {
			$("#alertmsg").text(responseText);
			$('#alert').modal("toggle");
		}
		span.onclick = function () {
			modal.style.display = "none";
			location.reload();
		}

		$(function () {

			var finusers = /*[[${FinUserProfiles}]]*/null;

			console.log(finusers);

			$("#usertable,#finusertb").DataTable({
				"info": false,
				"lengthChange": false

			});

			$("#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
				.datepicker({
					minDate: new Date(),
					changeMonth: true,
					changeYear: true,
					dateFormat: "dd-mm-yy"
				});

		});

		function getUserlist(mode, num, maxpage) {

			var n = parseInt(num);
			var max = parseInt(maxpage);
			var Callurl = 'UserProfile?formmode=list';

			switch (mode) {
				case "nextpage":
					n = n + 1;
					if (n > max) {
						break;
					}
					Callurl = Callurl + "&page=" + n;
					break;
				case "prevpage":
					n = n - 1;
					if (n < 0) {
						break;
					}
					Callurl = Callurl + "&page=" + n;
					break;
				case "givenpage":
					n = parseInt($("#pageno").val()) - 1;
					if (n > max || n < 0) {
						break;
					}
					Callurl = Callurl + "&page=" + n;
			}

			location.href = Callurl;
		}

		function finuser(a) {

			$

				.ajax({
					type: 'get',
					url: './Finuserdata?userid=' + a.id,

					success: function (data) {

						/*<![CDATA[*/

						$('.finuserapply').html(data);

						$(
							"#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
							.datepicker({
								changeMonth: true,
								changeYear: true,
								dateFormat: "dd-mm-yy"
							});

						/*]]>*/

						$("#finusers").modal("hide");
					}

				})

		}

		function home() {
			location.href = 'Dashboard'
		}
		function uploadvalues() {
			location.href = 'Tmtfiletransaction?formmode=upload';
		}

		function updateFileName() {
			var fileInput = document.getElementById('fileInput');
			var report_nameInput = document.getElementById('report_name');

			if (fileInput.files.length > 0) {
				var report_name = fileInput.files[0].name;
				report_nameInput.value = report_name;
			} else {
				report_nameInput.value = '';
			}
		}


		function back() {
			history.back();
		}

		function backvalues() {
			location.href = 'clearingsystem'
		}

		function downls() {
			history.go(-2);
		}

		function back1() {
			location.reload();
		}

		function fnClick(a) {
			var userid = a.getAttribute("data-userid")
			location.href = 'studentscreen?formmode=edit&userid=' + userid
		}

		function adduser(a) {

			location.href = 'ChargeUpload?formmode=add';

		}

		function addDetails(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view2&srlno=' + srlno;

		}

		function testcases(a) {
			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view3&srlno=' + srlno;
		}

		function retreqsubmit(a) {
			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view4&srlno=' + srlno;
		}

		function retreqfullsubmit(a) {
			var srlno = a.getAttribute("data-attr");
			alert(srlno);
			location.href = 'ChargeUpload?formmode=view5&srlno=' + srlno;
		}

		function retreqnonfullsubmit(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view6&srlno=' + srlno;
		}

		function chargebacks(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view7&srlno=' + srlno;
		}

		function representment(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view8&srlno=' + srlno;
		}

		function refund(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view9&srlno=' + srlno;
		}

		function refundcharg(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view10&srlno=' + srlno;
		}

		function memfuncoll(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view11&srlno=' + srlno;
		}

		function presreversal(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view12&srlno=' + srlno;
		}

		function memfundiscoll(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view13&srlno=' + srlno;
		}

		function npcifeecoll(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view14&srlno=' + srlno;
		}
		function npcifeedisb(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view15&srlno=' + srlno;
		}
		function presentment(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view16&srlno=' + srlno;
		}
		function header(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view17&srlno=' + srlno;
		}
		function trailer(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view18&srlno=' + srlno;
		}
		function voids(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view19&srlno=' + srlno;
		}
		function preatrb(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view20&srlno=' + srlno;
		}
		function atrbaccep(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view21&srlno=' + srlno;
		}
		function smstran(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view22&srlno=' + srlno;
		}
		function dmstran(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view23&srlno=' + srlno;
		}

		function modifyusers(a) {

			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=edit3&srlno=' + srlno;

		}

		function uploaduser() {

			location.href = 'ChargeUpload?formmode=view1';

		}

		function list() {
			location.href = 'ChargeUpload?formmode=list';
		}

		function listusers() {
			location.href = 'ChargeUpload?formmode=list2';
		}

		function modifyuser(a) {
			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=edit3&srlno=' + srlno;
		}

		function enquiryuser(a) {
			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=view&srlno=' + srlno;
		}

		function chargeback(a) {
			var srlno = a.getAttribute("data-attr")
			alert(srlno)
			location.href = 'ChargeUpload?formmode=edit&srlno=' + srlno;
		}

		function addsubmit(a) {

			if ($("#stp").valid()) {

				var url = "./AddScreen";

				$("#stp").attr('action', url);

				var options = {
					success: showResponse
				};

				$("#stp").ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {
					$("#alertmsg").text(responseText);
					$('#alert').modal("toggle");

				}
				;
			}
		};

		function passwordReset() {

			var url = './passwordReset';
			$("#userProfile").attr('action', url);

			var options = {
				success: showResponse
				// post-submit callback 
			};

			$('#userProfile').ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {

				$("#alertmsg").text(responseText);

				$('#alert').modal("toggle");

			}
			;
		};

		function roledesc() {

			var roleid = $("#roleId").find(':selected').val();

			if (roleid == 'ADM') {
				$("#roleDesc").val("Admin");
			} else if (roleid == 'ADT') {
				$("#roleDesc").val("Audit");
			} else if (roleid == 'GEN') {
				$("#roleDesc").val("General User");
			} else if (roleid == 'RECONADM') {
				$("#roleDesc").val("Admin");
			} else if (roleid == 'RECONGEN') {
				$("#roleDesc").val("General User");
			}
			$(this).find(':selected').text();

		}

		function submitAddform() {

			if ($("#userProfile").valid()) {

				var url = "./adminUserProfileAdd?formmode=add";
				$("#userProfile").attr('action', url);

				var options = {
					success: showResponse
				};

				$("#userProfile").ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {
					$("#alertmsg").text(responseText);
					$('#alert').modal("toggle");

				}
				;
			}
		};

		function deleteuser(a) {

			var srlno = a.getAttribute("data-attribute");

			alert(srlno);

			$.ajax({
				url: './deletescreen?mti=' + srlno,
				data: $("#upon").serialize(),
				type: 'POST',
				success: function (data) {
					$("#alertmsg").text(data);
					$('#alert').modal("toggle");

				}
			});

		};

		function modifysubmit1(a) {
			var srlno = document.getElementById("srlno56").value;
			alert(srlno)
			if ($("#crgbck1").valid()) {

				var url = './modifyscreen?srlno=' + srlno;

				$("#crgbck1").attr('action', url);

				var options = {
					success: showResponse
				};

				$("#crgbck1").ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {
					$("#alertmsg").text(responseText);
					$('#alert').modal("toggle");

				}
				;
			}
		};

		function modifysubmit(a) {
			var srlno = document.getElementById("srlno").value;
			alert(srlno)
			if ($("#crgbck1").valid()) {

				var url = './modifyscreen?srlno=' + srlno;

				$("#crgbck1").attr('action', url);

				var options = {
					success: showResponse
				};

				$("#crgbck1").ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {
					$("#alertmsg").text(responseText);
					$('#alert').modal("toggle");

				}
				;
			}
		};

		function chargebck(a) {
			var srlno = document.getElementById("srlno56").value;
			alert(srlno)
			if ($("#crgbck1").valid()) {

				var url = './chargebckscreen?srlno=' + srlno;

				$("#crgbck1").attr('action', url);
				$("#crgbck1")
					.append(
						'<input type="hidden" name="formId" value="' + formId + '">');

				var options = {
					success: showResponse
				};

				$("#crgbck1").ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {
					$("#alertmsg").text(responseText);
					$('#alert').modal("toggle");

				}
				;
			}
		};

		function downloads(a) {
			var srlno = a.getAttribute("data-attribute");

			if (validateRequiredFields($('#reportforms')[0])) {
				var formmode1 = a.getAttribute("data-formmode1");

				if (formmode1 == "view4" ||
					formmode1 == "view5" ||
					formmode1 == "view6" ||
					formmode1 == "view7" ||
					formmode1 == "view8" ||
					formmode1 == "view9" ||
					formmode1 == "view10" ||
					formmode1 == "view11" ||
					formmode1 == "view12" ||
					formmode1 == "view13" ||
					formmode1 == "view14" ||
					formmode1 == "view15" ||
					formmode1 == "view16" ||
					formmode1 == "view17" ||
					formmode1 == "view18" ||
					formmode1 == "view19" ||
					formmode1 == "view20" ||
					formmode1 == "view21" ||
					formmode1 == "view22" ||
					formmode1 == "view23"
				) {
					if ($("#reportforms").valid()) {
						var formData = new FormData($("#reportforms")[0]);
						fetch("exportxml?srlno=" + srlno + "&formmode1=" + formmode1, {
							method: "POST",
							body: formData,
						}).then(response => {
							if (response.ok) {
								var contentDisposition = response.headers.get('Content-Disposition');
								var filename = contentDisposition.split('filename=')[1].trim();

								response.blob().then(blob => {
									var link = document.createElement('a');
									link.href = window.URL.createObjectURL(blob);
									link.download = filename;
									document.body.appendChild(link);
									link.click();
									document.body.removeChild(link);
								});
								alert2('Download Successfully');
							} else {
								console.error('Download failed:', response);
							}
						})
							.catch(error => {
								console.error('Error during download:', error);
							});
					}
				} else {
				}
			} else {
				alert1("Please fill in all required fields.");
			}
			function alert1(responseText) {
				$("#alertmsg").text(responseText);
				$('#alert').modal("toggle");
			}
			function alert2(responseText) {
				$("#alertmsg2").text(responseText);
				$('#alert2').modal("toggle");
			}
			function validateRequiredFields(form) {
				var requiredFields = form.querySelectorAll('[required]');
				var isValid = true;

				for (var i = 0; i < requiredFields.length; i++) {
					if (!requiredFields[i].value.trim()) {
						isValid = false;
						highlightField(requiredFields[i]);
					} else {
						removeHighlight(requiredFields[i]);
					}
				}

				return isValid;
			}
			function highlightField(field) {
				field.style.border = "1px solid red";
			}
			function removeHighlight(field) {
				field.style.border = "";
			}
		}

		function submitdatas() {
			var reportdate = document.getElementById("report_date2").value;
			var filename = document.getElementById("fileInput").value;

			if (!reportdate || !filename) {
				showResponse("Please fill in the required fields");
				return;
			}

			var form = $('#reportform')[0];
			var data = new FormData(form);

			$.ajax({
				type: "POST",
				url: "tmtuploadxmlvaluesdatas",
				data: data,
				processData: false,
				contentType: false,
				success: function (response) {
					showResponse(response);
				},
				error: function (error) {
					showResponse("Error: " + error.responseText);
				}
			});
		}

		function showResponse(responseText) {
			$("#alertmsg3").text(responseText);
			$('#alert3').modal("toggle");
		}
	</script>
	<SCRIPT>
		$(function () {
			$("#datepickerInput").datepicker({
				dateFormat: "dd-mm-yy",
				changeMonth: true,
				numberOfMonths: 1,
				gotoCurrent: true,
				yearRange: '-80:+1000'

			});
		})
		$("#datepicker").datepicker({
			dateFormat: "dd/mm/yy"
		});


		// Function to be called on button click


	</SCRIPT>
	<script>
		function reloadPage() {
			location.reload();  // This will reload the current page
		}
	</script>
	<script>
		// Global variable to store the selected mode
		var globalA;

		// Function to enable modify, verify, or add mode based on the button clicked
		function enableModifyMode(buttonValue) {
			let alertMessage;

			// Determine the message based on the button clicked
			if (buttonValue === "modify") {
				alertMessage = "You are now in modify mode.";
			} else if (buttonValue === "verify") {
				alertMessage = "You are now in verify mode.";
			} else if (buttonValue === "add") {
				alertMessage = "You are now in add mode.";
			}

			// Trigger the specific alert message
			alert(alertMessage);

			// Store the passed value in the global variable
			globalA = buttonValue;

			// Display the value in an alert
			alert("Current mode: " + globalA);
		}

		// Function to handle setting account details with a passed srlNo
		function setAccountDetails(event, radio) {
			var srlNo = radio.getAttribute('data-srlno');
			alert(srlNo);
			if (globalA) {
				alert(globalA); // Access the global variable here
				// Pass srlNo and set formmode to the value of globalA
				location.href = 'clearingsystemlist?formmode=' + encodeURIComponent(globalA) + '&srlno=' + srlNo;
			} else {
				alert("view");
				location.href = 'clearingsystemlist?formmode=srlno&srlno=' + srlNo;
			}
		}
	</script>
	<script>
		$(function () {
			$("#report_date2").datepicker({
				dateFormat: "dd-mm-yy",
				changeMonth: true,
				changeYear: true,
				numberOfMonths: 1,
				gotoCurrent: true,
				yearRange: '-80:+1000'
			});

			// Trigger datepicker on input click
			$("#report_date2").on("focus", function () {
				$(this).datepicker("show");
			});
		});
	</script>

	<script>
		function downloadconsolidate() {
			$('#downloadProcessingModal').modal('show');

			$.ajax({
				url: './downloadExcel1', // This URL should match the @RequestMapping value
				type: 'GET', // Ensure the request method is GET
				xhrFields: {
					responseType: 'blob'
				},
				success: function (data) {
					$('#downloadProcessingModal').modal('hide');

					// Handle file download
					var blob = new Blob([data], {type: 'application/octet-stream'});
					var url = window.URL.createObjectURL(blob);
					var a = document.createElement('a');
					a.href = url;
					a.download = 'ClearingsystemData.xlsx';
					document.body.appendChild(a);
					a.click();
					window.URL.revokeObjectURL(url);

					// Display success message
					$('#customAlertBody').text('Downloaded ClearingsystemData.xlsx');
					$('#customAlertModal').modal('show');
				}
			});
		}

		$(document).ready(function () {
			$('#masterdata').DataTable({
				"destroy": true,
				"scrollY": 500, // Vertical scroll
				"scrollX": true, // Horizontal scroll
				"scrollCollapse": true,
				"paging": true, // Enable pagination
				"autoWidth": false, // Disable automatic column width calculation
				"ordering": true, // Enable column sorting
				"oLanguage": {
					"sSearch": "", // Custom search input text
					"sSearchPlaceholder": "Search Here" // Placeholder for search input
				},
				"searching": true, // Enable search
				"pageLength": 100, // Default rows per page
				"lengthChange": false // Disable page length change dropdown
			});
		});

	</script>
</head>
<title>BNPSRECON</title>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:insert="XBRLHeaderMenu :: header"></div>
			</div>
			<div class="container-fluid content">
				<div th:if="${formmode}=='list'">
					<div class="row">
						<div class="col-sm-12">
							<div class="card" style="margin-left: 260px; margin-top: 110px;">
								<div class="card-header">
									<div class="float-left">
										<h4>CLEARING SYSTEM - LIST</h4>
									</div>
									<div class="float-right">
										<button type="button" id="btnModify" value="modify"
											class="btn btn-xs btn-secondary btns p-2 border btn-modify"
											onclick="enableModifyMode(this.value)">Modify</button>
										<button type="button" id="btnverify" value="verify"
											class="btn btn-xs btn-success btns p-2 border btn-verify"
											onclick="enableModifyMode(this.value)">Verify</button>
										<button type="button" class="btn btn-xs btn-info btns p-2 border btn-add"
											onclick="uploadvalues()">Upload</button>

										<button type="button" class="btn btn-xs btn-warning btns p-2 border"
											onclick="downloadconsolidate();">Download</button>

										<button type="button"
											class="btn btn-xs btn-primary btns p-2 border btn-filter">Filter</button>
										<!-- Processing Modal -->
										<div class="modal fade" id="downloadProcessingModal" tabindex="-1" role="dialog"
											aria-labelledby="downloadProcessingModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="downloadProcessingModalLabel">
															Download Processing...</h5>
													</div>
												</div>
											</div>
										</div>

										<!-- Success Modal -->
										<div class="modal fade" id="customAlertModal" tabindex="-1" role="dialog"
											aria-labelledby="customAlertModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="customAlertModalLabel">Download
															Complete</h5>
													</div>
													<div class="modal-body" id="customAlertBody">Download completed.
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-primary"
															data-dismiss="modal">OK</button>
													</div>
												</div>
											</div>
										</div>




									</div>
								</div>
								<div class="card-body">
									<table id="masterdata" class="table display nowrap">
										<thead class="thead-light">
											<tr style="white-space: nowrap; overflow: hidden; text-align: left">
												<th>Srl No</th>
												<th>Tran Date</th>
												<th>Tran Id</th>
												<th>Part Tran Id</th>
												<th>Tran Amount</th>
												<th>Tran Type</th>
												<th>Tran Account Number</th>
												<th>Tran Account Name</th>
												<th>Tran Particular</th>
												<th style="text-align: center;">Details</th>
											</tr>
										</thead>
										<tbody id="placelist" class="bg-white">
											<tr th:each="clearingsystem, iterator: ${list}"
												style="white-space: nowrap; overflow: hidden; text-align: left">
												<td th:text="${iterator.index + 1}"></td>
												<td
													th:text="${#dates.format(clearingsystem?.ntry_value_date, 'dd-MM-yyyy')}">
												</td>
												<!--<td align="" th:text="${clearingsystem?.ntry_refs_transaction_id}"></td>-->
												<td></td>
												<td align="" th:text="${clearingsystem?.ntry_proprietary_code}"></td>
												<td
													th:text="${#numbers.formatDecimal(clearingsystem?.ntry_transaction_amount, 1, 'COMMA', 0, 'POINT')}">
												</td>
												<td align=""
													th:text="${clearingsystem?.ntry_txdtls_credit_debit_indicator}">
												</td>
												<td align="" th:text="${clearingsystem?.account_no}"></td>
												<td align="" th:text="${clearingsystem?.stmt_account_identifier}"></td>
												<td align="" th:text="${clearingsystem?.ntry_entry_reference}"></td>
												<td style="text-align: center;"><input type="radio"
														id="radioSelect_${clearingsystem.srlno}"
														th:attr="data-srlno=${clearingsystem.srlno}" name="actionRadio"
														onclick="setAccountDetails(event, this);"></td>

											</tr>
										</tbody>
									</table>
								</div>
								<div class="card-footer text-center">
									<button type="button" class="btn btn-xs btn-primary mr-2" id="btnHome"
										onclick="home();">Home</button>
									<button type="button" class="btn btn-xs btn-primary ml-2" id="btnBack"
										onclick="back();">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div th:if="${formmode}=='upload'">
					<div class="row">
						<div class="col-sm-12">
							<form action="#" th:object="${reportform}" method="post" enctype="multipart/form-data"
								id="reportform">

								<div class="card" style="margin-left: 260px; margin-top: 90px;">
									<div class="card-header">
										<div class="float-left">
											<h4>DESTINATION XML File - Upload</h4>
										</div>
										<!-- <div class="float-right">
											<button type="button"
												class="btn btn-xs btn-primary btns p-2 border"
												onclick="listsfile(this);">Lists</button>
										</div> -->
									</div>

									<div class="card-body">
										<div class="form-group">

											<div class="row row1">
												<!-- <label class="col-sm-3 control-label">Report ID<span
										style="color: red; font-size: 10px;" class="mant">*</span></label> -->
												<input type="hidden" name="srlno" id="srlno" value=""
													class="col-sm-3 form-control" placeholder="Enter File ID"
													disabled /> <span class="col-sm-6" id="repname"></span>
											</div>

											<div class="row row1">
												<label class="col-sm-3 control-label">Report Name<span
														style="color: red; font-size: 10px;"
														class="mant">*</span></label>
												<input type="text" name="report_name" id="report_name"
													class="col-sm-3 form-control" placeholder="Enter File Name" required
													readonly /> <span class="col-sm-6" id="repname"></span>
											</div>

											<div class="row row1">
												<label class="col-sm-3 control-label"> Report Date<span
														style="color: red; font-size: 10px;" class="mant">*</span>
												</label> <input type="text" name="report_date" id="report_date2"
													class="col-sm-3 form-control" placeholder="dd-mm-yyyy" required />
											</div>

											<!-- <div class="row row1">
												<label class="col-sm-3 control-label">From date<span
													style="color: red; font-size: 10px;" class="mant">*</span></label>
												<input type="text" name="report_from_date"
													id="report_from_date" class="col-sm-3 form-control"
													placeholder="dd-mm-yyyy" required />

											</div>
											<div class="row row1">
												<label class="col-sm-3 control-label">To date<span
													style="color: red; font-size: 10px;" class="mant">*</span></label>
												<input type="text" name="report_to_date" id="report_to_date"
													class="col-sm-3 form-control" placeholder="dd-mm-yyyy"
													required />
											</div> -->

											<div class="row row1">
												<label class="col-sm-3 control-label">XML upload<span
														style="color: red; font-size: 10px;"
														class="mant">*</span></label><input type="file" name="file"
													id="fileInput" accept=".doc,.docx,.xml" onchange="updateFileName()"
													class="col-sm-3 form-control" required />
											</div>
										</div>
									</div>
									<div class="card-footer text-center">
										<button type="button" class="btn btn-xs btn-primary mr-2" id="btnHome"
											onclick="home();">Home</button>
										<button type="button" class="btn btn-xs btn-primary"
											onclick="submitdatas(this);" id="btnUpload">Submit</button>
										<button type="reset" class="btn btn-xs btn-primary" onclick="back();"
											id="btnback">Back</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>



	<div class="modal fade" id="alert">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="menu-title-header">
					<div class="modal-title" id="exampleModalLabel" style="text-align: center; color: white;">CIM
						FINANCE</div>
				</div>
				<div class="modal-body" style="text-align: center; background-color: #c6ccd2">
					<p id="alertmsg" style="font-size: 16px;"></p>
					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="back1();"
						style="width: 120px">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="alert2">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="menu-title-header">
					<div class="modal-title" id="exampleModalLabel" style="text-align: center; color: white;">CIM
						FINANCE</div>
				</div>
				<div class="modal-body" style="text-align: center; background-color: #c6ccd2">
					<p id="alertmsg2" style="font-size: 16px;"></p>

					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="downls();"
						style="width: 120px">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="alert3">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="menu-title-header">
					<div class="modal-title" id="exampleModalLabel" style="text-align: center; color: white;">CIM
						FINANCE</div>
				</div>
				<div class="modal-body" style="text-align: center; background-color: #c6ccd2">
					<p id="alertmsg3" style="font-size: 16px;"></p>

					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="backvalues();"
						style="width: 120px">Close</button>
				</div>
			</div>
		</div>
	</div>


</body>







</html>